* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img, input{
  max-width: 100%;
}

.let-space{
  letter-spacing: 3px;
}

.warning-text{
  font-size: 12px;
  color: hsl(0, 100%, 66%);
  margin-top: 0.3rem ;
}

.btn-warning{
  border: 2px solid hsl(0, 100%, 66%) !important;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

input:focus{
  border-color: hsl(249, 99%, 64%) !important;
  border-width: 2px !important;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;

  .card {
    min-width: 30%;
    min-height: 100vh;
    background: url(/images/bg-main-desktop.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .front{
      min-width: 100%;
      min-height: 25%;
      background-image: url(/images/bg-card-front.png) ;
      background-repeat:no-repeat;
      background-size:contain;
      background-position:center;
      margin-left: 15vw;
      margin-bottom: 1.5rem;
      padding: 3vw;
      color: white;
      display: flex;
      flex-direction: column;

      img{
        width: 84px;
        height: 47px;
        margin-bottom: 3.5rem;
      }

      .card-number{
        font-size: 1.4rem;
      }

      div{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .card-owner{
          text-transform: uppercase;
          font-size: 15px;
        }

        .card-expire{
          @extend .card-owner
        }
      }
    }

    .back{
      min-width: 100%;
      min-height: 25%;
      background-image: url(/images/bg-card-back.png) ;
      background-repeat:no-repeat;
      background-size:contain;
      background-position:center;
      margin-left: 24vw;
      position: relative;

      p{
        position: absolute;
        top: 45.5%;
        left: 78%;
        color: white;
        font-size: 15px;
      }
    }
  }

  .card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18rem;
    padding-right: 11rem;
    gap: 1rem;
    min-width: 65%;

    label{
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    input{
      padding: 0.8rem 1rem;
      border-radius: 10px;
      outline: none;
      border: 1px solid hsl(270, 3%, 87%);
      font-family: inherit;
      font-size: 16px;
    }

    button{
      width: 100%;
      padding-block: 1rem;
      border-radius: 10px;
      border: none;
      outline: none;
      color: white;
      background: hsl(278, 68%, 11%);
      transition: all 0.4s;
      font-size: inherit;

      &:hover{
        cursor: pointer;
        background: white;
        color: hsl(278, 68%, 11%);
        border: 1px solid hsl(278, 68%, 11%) ;
      }
    }

    .exp-date-cvc{
      display: flex;
      gap: 1.5rem;
      margin-bottom: 0.8rem;

      .exp-date{
        display: flex;
        flex-direction: column;
  
        label{
          margin-bottom: 1rem;
        }
  
        .exp-date-input{
          display: flex;
          
          input{
            width: 90%;
          }
        } 
      }
    }

    .cvc label{
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
}

// Media Queries
@media screen and (max-width: 1310px) {
  .cvc{
    width: 180px;
  }

 body .card .front .card-number{
    font-size: 1.2rem;
  }
  body .card-info .exp-date-cvc{
    gap: 0.4rem;
  }
}


@media screen and (max-width: 1210px) {
  body .card-info{
    padding-left: 16rem;
    padding-right: 10rem;
  }
}

@media screen and (max-width: 1135px) {
  body .card-info{
    padding-left: 13rem;
    padding-right: 7rem;
  }

  body .card .front .card-number{
    font-size: 1rem;
  }

  body .card .front div .card-owner{
    font-size: 13px;
  }

  body .card .front img{
    margin-bottom: 2rem;
    margin-top: 1.2rem;
  }

  body .card .back p{
    top: 45.5%;
    left: 77%;
  }
}

@media screen and (max-width: 1000px){
  .form-label{
    font-size: 0.9rem;
  }

  .cvc{
    display: flex;
    flex-direction: column;
    width: 120px;
  }

  body .card .front .card-number{
    font-size: 0.8rem;
  }

  body .card .front div .card-owner{
    font-size: 12px;
  }

  body .card .front img{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  body .card .back p{
    font-size: 12px;
    top: 46.5%;
    left: 80%;
  }

  body .card-info input{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 870px){

  body .card-info{
    gap: 0.6rem;
  }

  body .card .front img{
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
  }

  body .card .front .card-number{
    font-size: 0.7rem;
  }

  body .card .front div .card-owner{
    font-size: 10px;
  }

  body .card-info{
    padding-left: 10.8rem;
    padding-right: 4.8rem;
  }

  body .card-info input{
    font-size: 0.8rem;
  }
}

